<footer class="bg-dark">

    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-sm">
                <h4> SİTE HARİTASI </h4>
                <br>
                <a href="#"> Ana Sayfa </a> <br>
                <a href="#"> Hakkımızda </a> <br>
                <a href="#"> İletişim </a> <br>
                <a href="#"> Haberler </a> <br>
                <a href="#"> Kayıt Ol </a> <br>
                <a href="#"> Giriş Yap </a> <br>
                <br><br>
            </div>
            <div class="col-sm">
                <h4> SOSYAL MEDYA </h4>
                <br>
                <a href="#"> <i class="fa-brands fa-instagram"></i> </a>
                <a href="#"> <i class="fa-brands fa-youtube"></i> </a>
                <a href="#"> <i class="fa-brands fa-x-twitter"></i> </a>
                <a href="#"> <i class="fa-brands fa-threads"></i> </a>
                <br><br><br><br>
            </div>
            <div class="col-sm">
                <h4> DİĞER </h4>
                <br>
                <a href="#"> İletişim Bilgileri </a> <br>
                <a href="#"> Gizlilik Politikası </a> <br>
                <a href="#"> Kullanım Şartları </a> <br>
                <a href="#"> Destek Ve Yardım </a>
                <br><br>
            </div>
        </div>
        <br><br>
    </div>

</footer>


